ai_flow.json
[{"id":"3075f9ff.adc646","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3b2fde75.cef292","type":"function","z":"3075f9ff.adc646","name":"PRE TOKEN","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\nvar apikey=\"OzyfqnDnoq7C7kShdkvRodG2-llwZGcFHKtcdSvyVKOB\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["9c29d1e9.9ea2"]]},{"id":"772d9cf9.785004","type":"function","z":"3075f9ff.adc646","name":"","func":"var token=msg.payload.access_token;\nvar instance_id=\"8c708f9e-dca3-4b0c-971a-4194fce0d6d8\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nvar a =global.get(\"a\");\nvar b =global.get(\"b\");\nvar c =global.get(\"c\");\nvar d =global.get(\"d\");\nvar e =global.get(\"e\");\nvar f =global.get(\"f\");\nvar g =global.get(\"g\");\nvar h =global.get(\"h\");\nvar i =global.get(\"i\");\nvar j =global.get(\"j\");\nvar k =global.get(\"k\");\nvar l =global.get(\"l\");\nvar m =global.get(\"m\");\nvar n =global.get(\"n\");\nvar o =global.get(\"o\");\nvar p =global.get(\"p\");\nvar q =global.get(\"q\");\nvar r =global.get(\"r\");\nvar s =global.get(\"s\");\nvar t=global.get(\"t\");\nvar u =global.get(\"u\");\n\nmsg.payload={\"input_data\":[{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]};\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["33b0702.13dc59"]]},{"id":"1f991ca8.175743","type":"ui_form","z":"3075f9ff.adc646","name":"","label":"","group":"d7d00b88.8a1fb8","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"year   ","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality  ","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":" Hepatitis B ","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio ","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure ","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS  ","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources      ","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling ","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":300,"wires":[["3b2fde75.cef292"]]},{"id":"9c29d1e9.9ea2","type":"http request","z":"3075f9ff.adc646","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":370,"y":80,"wires":[["772d9cf9.785004"]]},{"id":"33b0702.13dc59","type":"http request","z":"3075f9ff.adc646","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/eb3d2653-640c-4dc1-b68d-31cbafc14559/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":200,"wires":[["47a58fb2.26881","2677932c.983a1c"]]},{"id":"47a58fb2.26881","type":"function","z":"3075f9ff.adc646","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":80,"wires":[["a0047dc9.95a9c","13acefe9.072fe"]]},{"id":"a0047dc9.95a9c","type":"ui_text","z":"3075f9ff.adc646","group":"d7d00b88.8a1fb8","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":260,"wires":[]},{"id":"13acefe9.072fe","type":"debug","z":"3075f9ff.adc646","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":160,"wires":[]},{"id":"2677932c.983a1c","type":"debug","z":"3075f9ff.adc646","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":440,"wires":[]},{"id":"d7d00b88.8a1fb8","type":"ui_group","z":"","name":"Default","tab":"a69ac656.1cf888","order":1,"disp":true,"width":"6","collapse":false},{"id":"a69ac656.1cf888","type":"ui_tab","z":"","name":"Home1","icon":"dashboard","disabled":false,"hidden":false}]