python_flow.json
[{"id":"77b80208.fe604c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2807c86.6baa238","type":"function","z":"77b80208.fe604c","name":"PRE TOKEN","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\n\nvar apikey=\"OzyfqnDnoq7C7kShdkvRodG2-llwZGcFHKtcdSvyVKOB\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":110,"y":120,"wires":[["b6dba46f.dbf348"]]},{"id":"3fc442b3.626fde","type":"function","z":"77b80208.fe604c","name":"","func":"var token=msg.payload.access_token;\nvar instance_id=\"8c708f9e-dca3-4b0c-971a-4194fce0d6d8\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nvar a =global.get(\"a\");\nvar b =global.get(\"b\");\nvar c =global.get(\"c\");\nvar d =global.get(\"d\");\nvar e =global.get(\"e\");\nvar f =global.get(\"f\");\nvar g =global.get(\"g\");\nvar h =global.get(\"h\");\nvar i =global.get(\"i\");\nvar j =global.get(\"j\");\nvar k =global.get(\"k\");\nvar l =global.get(\"l\");\nvar m =global.get(\"m\");\nvar n =global.get(\"n\");\nvar o =global.get(\"o\");\nvar p =global.get(\"p\");\nvar q =global.get(\"q\");\nvar r =global.get(\"r\");\n\nmsg.payload=\n{\"fields\":['Adult Mortality', 'infant deaths', 'Alcohol',\n       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',\n       ' thinness 5-9 years','Income composition of resources', 'Schooling'],\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["e9e083c3.f1e48"]]},{"id":"bed6c107.66ec7","type":"ui_form","z":"77b80208.fe604c","name":"","label":"","group":"ae878648.3ea188","order":0,"width":0,"height":0,"options":[{"label":"Adult Mortality  ","value":"a","type":"number","required":true,"rows":null},{"label":"infant deaths     ","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B ","value":"e","type":"number","required":true,"rows":null},{"label":"Measles","value":"f","type":"number","required":true,"rows":null},{"label":"BMI ","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"h","type":"number","required":true,"rows":null},{"label":"Polio ","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure ","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"k","type":"number","required":true,"rows":null},{"label":"HIV/AIDS  ","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income composition of resources      ","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling ","value":"r","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":240,"wires":[["2807c86.6baa238"]]},{"id":"b6dba46f.dbf348","type":"http request","z":"77b80208.fe604c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":270,"y":20,"wires":[["3fc442b3.626fde"]]},{"id":"e9e083c3.f1e48","type":"http request","z":"77b80208.fe604c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/8c708f9e-dca3-4b0c-971a-4194fce0d6d8/deployments/86d49114-84b2-42d8-b825-12638c8f6f36/online","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":140,"wires":[["ad481081.bb409","61773631.edde18"]]},{"id":"ad481081.bb409","type":"function","z":"77b80208.fe604c","name":"","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":20,"wires":[["59614628.a65888","dbeaf3ed.948dc"]]},{"id":"59614628.a65888","type":"ui_text","z":"77b80208.fe604c","group":"ae878648.3ea188","order":1,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":200,"wires":[]},{"id":"dbeaf3ed.948dc","type":"debug","z":"77b80208.fe604c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":100,"wires":[]},{"id":"61773631.edde18","type":"debug","z":"77b80208.fe604c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":380,"wires":[]},{"id":"ae878648.3ea188","type":"ui_group","z":"","name":"new","tab":"8fbd1766.df9208","order":1,"disp":true,"width":"6","collapse":false},{"id":"8fbd1766.df9208","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]